/* ================================= 
  Portfolio Section
==================================== */

.content-id {
	@extend %noTopMargin;
	padding-top: 2.50rem;
	padding-bottom: 0;
}

.portfolio {
	@extend %noTopMargin;
	text-align: center;
	background-color: $silver;
	color: $black;
	padding-bottom: 2.50rem;
}

.marketing, .search, .travel, .map, .gallery, .calculator {
	max-width: 90%;
	/* display: block; */
    @extend %autoMargins;
}

.marketing {   /* mixin - #3 */
	margin-top: 2.50rem;
}

.portfolio  p {   /* make mixin #2 */
	text-align: center;
	font-size: 1.35rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.marketing-headline, .search-headline, .travel-headline, .map-headline, .photo-gallery, .calc-section {
	margin-top: 2.25rem; /* mixin - #3 */
}

.search, .travel, .map, .gallery, .calculator  {
	margin-top: 1.5rem; /* mixin - #3 */
}