/* ================================= 
  Profile Section
==================================== */

.profile-section {
	padding-top: 1.75rem;
	@extend %noTopMargin;
	padding-bottom: 2rem;
	max-width: 90%;
	@extend %autoMargins;
}

.profile-image {
	display: block;
    @extend %autoMargins;
	max-width: 70%;
}

.profile-section p {    /* make mixin for this # 1*/
	text-align: center;
	font-size: 1.35rem;
	margin-top: 2.5rem;
	font-weight: 100;
	color: $lightgrey;
}