
/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {
		
	a:hover {
		color: $black;
	}	
	
	.footer-nav a:hover {
		color: $black;
	}
		
	.main-nav li  {
		display: inline-block;
		margin-left: .75rem;
	}
	
	.main-nav  {
		text-align: center;
	}
	
	.name {
		padding-top: 2.25rem;
		font-size: 3.25rem;
		margin-bottom: 0;
		padding-bottom: 1rem;
	}
	
	.main-nav a {  /* mixin #2*/
		background-color: $aquablue;
		padding-top: .75rem;
		padding-left: 1rem;
		padding-right: 1rem;
		font-size: 1.75rem;
	}	
		
	.profile-section {
		max-width: 95%;
		padding-top: 2.5rem;
		padding-left: 0;
		padding-right: 0;
	}
	
	.profile-section p {
		float: left;
		text-align: left;
		margin-top: 0;
		font-size: 1.5rem;
	}
	
	.profile-image {
		max-width: 40%;
		float: right;
	}
	
	.clearfix::after { /* ABSOLUTE NECESSITY */
		content: " ";
		display: table;
		clear: both;
	}
	
	.profile-image, .profile-section p {
		width: 50%;   /* KEY PIECE OF CODE FOR FLOATING*/
	}
	
	.header-container {
		padding-bottom: 1.75rem;
	}
	
	.content-id {
		font-size: 3.25rem;
		padding-top: 3rem;
	}
	
	.marketing {
		margin-top: 1.5rem;
	}
	
	#marketing, #search, #travel, #map, #gallery, #calculator {
		float: left;
		width: 50%;
		margin-bottom: 1.25rem;
	}
	
	.marketing, .search, .travel, .map, .gallery, .calculator {
		max-width: 100%;
		padding-left: 1rem;
		padding-right: 1rem;
	}	
		
	#travel {
		clear: left;
	}
	
	.portfolio p, .contact p  {
		font-size: 1.50rem;
	}
	
	.marketing-headline, .search-headline, .travel-headline, .map-headline, .photo-gallery, .calc-section {
		font-size: 2.25rem;
	}
	
	.footer-link {
		display: none;
	}
	
	.contact-paragraph {
		margin-bottom: 2rem;
		margin-left: 6rem;
		margin-right: 6rem;
	}
	
	.contact h1 {
		font-size: 2.75rem;
		padding-top: 3.75rem;
		padding-bottom: 1.25rem;
	}
	
	.footer-nav  {
		display: inline-block;
		float: right;
		padding-bottom: 3.25rem;
	}
	
	.footer-nav li {
		display: inline-block;
		text-align: center;
	}
	
	.footer-nav a {
		display: block;
		padding: 0rem 1rem;
		color: $lightgrey;
		font-size: 1.75rem;
	}
	
	.footer-name  {
		font-size: 1.75rem;
		margin-top: 1rem;
	}
	
	.footer-nav  {
		margin-top: 1rem;
	}
	
}

@media (min-width: 1024px) {
	
	.header-container {
		max-width: 90%;
		margin: 0 auto;
		padding: 1px 0;
	}
	
	.profile-section {
		min-width: 100%;
		padding-top: 3.75rem;
		padding-bottom: 3.75rem;
	}
	
	.name  {
		margin-bottom: 0;
		float: left;
		padding-top: 0;
		margin-left: .75rem;
	}
	
	.main-nav  {
		float: right;
		padding-left: 0;
		padding-right: 0;
		margin-right: .75rem;
	}
	
	.profile-image {
		margin-right: .75rem;
	}
	
	.main-nav li {
		display: inline-block;
	}
	
	header {
		padding-top: 2.25rem;
		padding-bottom: 2.75rem;
	}
	
	.main-nav a {   /* mixin #2*/
		background-color: $aquablue;
		font-size: 2rem;
		padding-right: 0;
		padding-left: .75rem;
		padding-top: 0rem;
		padding-bottom: 0rem;
	}
	
	.profile-section p {
		font-size: 1.75rem;
		line-height: 2.25rem;
		margin-left: .75rem;
	}
	
	.portfolio {
		max-width: 90%;
		margin: 0 auto;
		
	}
	
	#marketing, #search, #travel, #map, #gallery, #calculator {
		width: 33.33%;
	}
	
	#travel { /* fixes the issue with not fitting in the row.*/
		clear: right;
	}
	
	.portfolio p, .contact p {
		font-size: 1.75rem;
	}
	
	.contact-paragraph {
		margin-left: 12rem;
		margin-right: 12rem;
	}
	
	.contact h1 {
		padding-top: 4.25rem;
	}
	
	#email-para {
		padding-bottom: 1.50rem;
	}
	
	footer {
		padding-top: 1.5rem;
	}
}