//Color Palette

$lightgrey: #f5f5f0;
$lightblue: #99ccff;
$aquablue: #00b3b3;
$silver: #d6d6c2;
$darksilver: silver;
$black : black;


// Media query breakpoints

$tablet-view: '(min-width: 768px)';
$desktop-view: '(min-width: 1024px)';
