/* ================================= 
  Contact Section
==================================== */

.contact {
	text-align: center;
	padding-bottom: 2.75rem;
	background-color: $aquablue;
	color: $lightgrey;
}

.contact h1 {
	margin-bottom: 2.25rem;
	@extend %noTopMargin;
	padding-top: 2.50rem;
	
	@media #{$tablet-view} {
		font-size: 2.75rem;
		padding-top: 3.75rem;
		padding-bottom: 1.25rem;
	}
	
	@media #{$desktop-view} {
		padding-top: 4.25rem;
	}
}

.contact span {
	@extend %block;
}

.contact-paragraph {
	margin-bottom: 2rem;
	margin-left: 1rem;
	margin-right: 1rem;
	
	@media #{$tablet-view} {
		margin-bottom: 2rem;
		margin-left: 6rem;
		margin-right: 6rem;
	}
	
	@media #{$desktop-view} {
		margin-left: 12rem;
		margin-right: 12rem;
	}
}

.contact  p {  
	@include second-mixin(1.35rem, 1rem, 1rem, $textAlign: center);
	
	@media #{$tablet-view} { 
		font-size: 1.50rem;
	}
	
	@media #{$desktop-view} {
		font-size: 1.75rem;
	}
}

#email-para {
	@media #{$desktop-view} {
		padding-bottom: 1.50rem;
	}
}
