/* ================================= 
  Footer Section
==================================== */

footer {
	width: 90%;
	@extend %zeroAutoMargins;
	border-top: 3px solid $darksilver;
	padding-top: 1rem;
	padding-bottom: 5rem;
	background-color: $aquablue;
	color: $lightgrey;
	
	@media #{$desktop-view} {
		padding-top: 1.5rem;
	}
}

.footer-name {
	float: left;
	
	@media #{$tablet-view} {
		font-size: 1.75rem;
		margin-top: 1rem;
	}
}

.footer-link {
	float: right;
	/* use display: none when necessary */
	
	@media #{$tablet-view} {
		display: none;
	}
}

.footer-link a {
	@extend %anchorDecoration;
	color: $lightgrey;
}

#bottom-wrapper {
	background-color: $aquablue;
}

.footer-nav {
	display: none;
	
	@media #{$tablet-view} {
		display: inline-block;
		float: right;
		padding-bottom: 3.25rem;
		margin-top: 1rem;
	}
	
	li {
		@media #{$tablet-view} {
			display: inline-block;
			text-align: center;
		}
	}
	
	a {
		@media #{$tablet-view} {
			@include first-mixin(1.75rem, $lightgrey);
			display: block;
			padding: 0rem 1rem;
		}
	}
	
	
	a:hover {
		@media #{$tablet-view} {
			color: $black;
		}
	}
}
