/* ================================= 
  Nav Bar Layout
==================================== */

.name {
	font-size: 3rem;
	text-align: center;
	margin-top: 0;
	padding-top: 1rem;
	color: #f5f5f0;
}

.main-nav  {
	padding: 0 1.75rem;
}

.main-nav a {
	display: block;
	padding: 1.25rem 2rem;
	color: #f5f5f0;
	font-size: 1.35rem;
	background-color:  #99ccff;
	border-radius: 5px;
}


.main-nav li {
	display: block;
	text-align: center;
	padding-bottom: .5rem;
}

.header-container {
	background-color: #00b3b3;
}