/* ================================= 
  Profile Section
==================================== */

.profile-section {
	padding-top: 1.75rem;
	@extend %noTopMargin;
	padding-bottom: 2rem;
	max-width: 90%;
	@extend %autoMargins;
	
	@media #{$tablet-view} {
		@include third-mixin(95%, 0, 0);
		padding-top: 2.5rem;
	}
	
	@media #{$desktop-view} {
		min-width: 100%;
		padding-top: 3.75rem;
		padding-bottom: 3.75rem;
	}
}

.profile-image {
	@extend %block;
    @extend %autoMargins;
	max-width: 70%;
	
	@media #{$tablet-view} {
		max-width: 40%;
		float: right;
		width: 50%;
	}

	@media #{$desktop-view} {
		margin-right: .75rem;
	}
	
}

.profile-section p {    
	@include first-mixin(1.35rem, $lightgrey, $weight: 100);
	text-align: center;
	margin-top: 2.5rem;
	
	@media #{$tablet-view} {
		float: left;
		text-align: left;
		margin-top: 0;
		font-size: 1.5rem;
		width: 50%;
	}
	
	@media #{$desktop-view} {
		font-size: 1.75rem;
		line-height: 2.25rem;
		margin-left: .75rem;
	}
}