/* ================================= 
  Base Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Bubblegum Sans', cursive;
	margin: 0;  /* this is how you get rid of white framing around site. */
	padding: 0;
	background-color: $aquablue;
	
}

a {
	@extend %anchorDecoration;

	&:hover {
		@media #{$tablet-view} {
			color: $black;
		}
	}
}

img {
	max-width: 100%;
}

.clearfix::after { 		/* ABSOLUTE NECESSITY */
		content: " ";
		display: table;
		clear: both;
}
